# VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
.history/


# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

node_modules/
.prettierrc