extends base

block styles
  link(rel="stylesheet" href="/css/signup.css")

block content
  .container
    form.forgot-pass-form
      h2 Reset Password
      p Please enter your email and we will send you the instructions how to reset your password.
      .form-group
        label(for="email-forgot-pass") E-mail
        input(type="email", id="email-forgot-pass", name="email-forgot-pass", required)
      button(type="submit", id="forgot-pass") Continue