extends base

block styles 
  link(rel="stylesheet" href="/css/signup.css")

block content
  .container
    h1 Welcome to DentMark.AM
      p
        | Skip the hassle of explaining dents over the phone or with unclear
        | photos. With DentMark.AM, just select your vehicle type from our
        | preloaded blueprints and pinpoint the dents effortlessly. Our expert
        | technicians will receive your request instantly for accurate evaluation.
      a.btn(href="/login") Login
      a.btn(href="/signup") Sign Up