extends base

block styles
  link(rel="stylesheet" href="/css/signup.css")

block content
  div.container
    form.login-form
      h2 Set new password
      .form-group
        label(for="password-reset") New password
        input(type="password", id="password-reset", name="password-reset", required)
      .form-group
        label(for="passwordConfirm-reset") Confirm new password
        input(type="password", id="passwordConfirm-reset", name="passwordConfirm-reset", required)
      button(type="submit") Continue