extends base

block styles
  link(rel="stylesheet" href="/css/style.css")
block content
  .main-container
    // Render other task details as needed
    != dentsHTML

//-   .main-container
//-     .image-container__summary
//-       img#vehicleImage(src=`pics/sides_pics/${side}.png`)
//-       #marker