extends base

block styles
  link(rel="stylesheet" href="/css/welcome.css")

block content

  .container
    h1 Welcome to DentMark.AM!
    p
      | Your registration is complete, we are happy to have you join us! You can
      | start using the App and that is super easy: 
      | [INSTRUCTIONS HERE]
    a.btn(href="/login") Login