body {
  font-family: Arial, sans-serif;
  background-color: rgb(45, 64, 89);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  text-align: center;
}

.login-form {
  background-color: rgb(238, 238, 238);
  padding: 1.25rem;
  border-radius: 0.3rem;
  box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.1);
  width: 18.75rem;
}

.login-form h2 {
  text-align: center;
  margin-bottom: 1.25rem;
}

.form-group {
  margin-bottom: 0.9375rem;
}

.form-group label {
  display: block;
  text-align: left;
  margin-bottom: 0.3125rem;
}

.form-group input {
  width: 100%;
  padding: 0.625rem;
  border: 0.0625rem solid #ccc;
  border-radius: 0.3125rem;
  box-sizing: border-box;
}

button[type='submit'] {
  width: 100%;
  background-color: rgb(34, 40, 49);
  color: #fff;
  padding: 0.625rem;
  border: none;
  border-radius: 0.3125rem;
  cursor: pointer;
}

button[type='submit']:hover {
  background-color: rgb(255, 87, 34);
}

.alert {
  position: fixed;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 9999;
  color: #fff;
  font-size: 1rem;
  /* font-weight: 400; */
  text-align: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 1rem 1rem;
  -webkit-box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.25);
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.25);
}
.alert--success {
  background-color: #20bf6b;
}
.alert--error {
  background-color: rgb(255, 87, 34);
}
.forgot-password {
  margin-top: 1rem;
  text-align: center;
}

.forgot-password a {
  color: rgb(255, 87, 34);
  text-decoration: none;
}

.forgot-password a:hover {
  text-decoration: underline;
}
.message-box {
  max-width: 600px;
  margin: 100px auto;
  text-align: center;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: rgb(255, 87, 34);
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #0056b3;
}
