body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: rgb(45, 64, 89);
  /* background-image: linear-gradient(to right, rgb(45, 64, 89), rgb(45, 64, 89)); */
  overflow-y: auto;
  /* margin-bottom: 30rem; */
}

.main-container {
  width: 100%;
  max-width: 900px;
  display: flex;
  flex-flow: column;
  align-items: center;
  /* justify-content: space-between; */
  justify-content: flex-start;
  overflow-y: auto;

  height: 100vh;
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
}
/* .choose {
    display: flex;
    justify-content: flex-end;
    background-color: rgb(158, 218, 29);
  } */
.choose h1 {
  margin-bottom: 5px;
  margin-top: 10px;
  font-family: 'DM Sans', sans-serif;
  font-family: 'Tourney', sans-serif;
  color: #ffffff;
}

.body-container {
  /* position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  
    height: 100vh;
    margin-top: 1rem; */
  /* position: relative; */
  margin: 0 0.5rem;

  /* background-color: #2e2a66; */
  border-radius: 5px;
  /* padding: 0.5rem 0.5rem; */
  /* margin-bottom: 1rem; */

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  align-content: center;
  /* align-items: center; */
  gap: 0.3rem 0.3rem;
  /* align-items: stretch; */

  max-width: 100%;
  box-sizing: border-box;
  /* height: 100vh; */

  /* height: 6rem; */
  transition:
    all 0.2s,
    transform 1ms;
}

.header {
  background-color: rgb(34, 40, 49);
  padding: 0.5rem;
}

.nav--user {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}
.logged-out {
  display: flex;
  gap: 1rem;
  padding: 0.8rem 1.2rem;
}

.logged-in {
  display: flex;
  gap: 1rem;
  padding: 0.8rem 1.2rem;
}

.nav__el {
  text-decoration: none;
  padding: 0.8rem 1.2rem;
  border: 1px solid transparent;
  border-radius: 0.3rem;
  color: #fff;
  background-color: rgb(45, 64, 89);
  font-size: 1.5rem;
}
.nav__el--myacc {
  background-color: rgb(45, 64, 89);
}
.nav__el:hover {
  background-color: #0056b3;
}

.nav__el.nav__el--cta {
  background-color: #28a745;
}

.nav__el.nav__el--cta:hover {
  background-color: #218838;
}

.sides-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.3rem 0.3rem;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  margin: 0 0.5rem;
}

.button {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  width: 100%;
  padding: 5px;
  /* margin: 0.5rem 0.5rem; */
  /* margin: 0.5rem; */
  /* color: #ffffff; */
  border-radius: 5px;
  transition: background-color 0.5s;
  border: none;
  /* border: 0.5px solid #e49e08; */
  /* background-image: linear-gradient(to right, #e69c6a, #ca580c); */
  background-image: none;
}

.button img {
  max-width: 100%; /* Make sure the image doesn't exceed the button's width */
  height: auto;
  /* border-radius: 4px; */
}

/* .button:hover {
    background-color: #45a049;
  } */
.hidden {
  visibility: hidden;
  opacity: 0;
}

#vehicleImage {
  display: block;
  width: 100%;
}
.image-container {
  position: relative;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  background-color: blue;

  /* margin-top: 1rem; */
}

.image-container__summary {
  position: relative;
}

.marker-container--visible {
  opacity: 1;
}

.shapes-container {
  display: flex;
  justify-content: center;
}

.symbol {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #3498db;
  /* margin-right: 10px; */
  margin-top: 1.5rem;
}

.measure {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* align-content: center; */
}
.right {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.paint {
  display: flex;
  justify-content: center;
}

.paint_buttons {
  margin-left: 1.5rem;
  display: flex;
  flex-direction: column;
}
/* MARKER CONTAINER */

.marker-container {
  /* background-color: #3498db;
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  margin: 0 0.5rem; */
  margin: 0.5rem;
  opacity: 0;
  /* background-color: rgb(238, 238, 238); */
  background-image: linear-gradient(to right, rgb(238, 238, 238), #68615d);
  /* border: 1px solid #ffffff; */
  border-radius: 2px;
  transition: opacity 0.5s ease-in-out;
  width: 300px;
}

.row {
  display: flex;
  align-items: center;
  margin: 0.5rem;
  padding: 0.5rem;
  justify-content: space-between;
}

/* .buttons {
  display: inline-flex;
  justify-content: center;
  gap: 1rem;
} */

/* .m_button {
  margin: 0.3rem;
  padding: 1.3rem;
  border-radius: 5px;
  background-color: white;
} */

.m_button.pressed {
  transform: translateY(1px);
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  background-color: rgb(143, 140, 140);
  /* border: 3px solid rgb(26, 165, 230); */
}

/* .m_button--shapes {
  padding: 0;
  border-radius: 5px;
} */

.buttons button {
  background-color: rgb(45, 64, 89); /* Green background */
  border: 1px solid rgb(0, 0, 0); /* Green border */
  color: white; /* White text */
  padding: 10px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
}

.buttons:after {
  content: '';
  clear: both;
  display: table;
}

.buttons button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

#circle {
  width: 3rem;
}

#strip {
  width: 3rem;
  height: 3rem;
  /* padding: 5px; */
}

#flat {
  width: 2.5rem;
  height: 2.5rem;
}

.orientation-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.row--orientation.hidden {
  display: none;
}

.row--orientation {
  display: flex;
}

/* MEASUREMENT BUTTONS */
/* #small {
  background-color: #78fa7e; 

#medium {
  background-color: #faf878; 
}
#big {
  background-color: #e96f4b; 
} */

.send-container {
  background-color: rgb(130, 179, 219);
  border-radius: 5px;
  padding: 1rem 1.8rem;
  margin-top: 1rem;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin-bottom: 10rem; */

  transition:
    all 0.5s,
    transform 1ms;
}

.shapes-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: space-between; */
}

.marker {
  position: absolute;
  width: 1rem;
  height: 1rem;
  /* background: radial-gradient(circle at 50% 50%, red, transparent); */
  border-radius: 50%;
  border: 1px solid black;

  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  color: rgb(0, 0, 0);
}

.line-marker {
  position: absolute;
  width: 8px;
  height: 1rem;
  background-color: red;
  border-radius: 4px;
}

.save-button {
  display: inline;
  margin-top: 1rem;
}

.save--marks {
  padding: 0.5rem;
  background-color: #4ad869;
  border-radius: 5px;
}

.save-marks-container {
  padding: 1rem;
}
/* .orientation-buttons {
    display: flex;
    flex-direction: row;
  
    justify-content: center;
    gap: 1rem;
  }
  
  .button--orientation {
    width: 4rem;
    height: 4rem;
    font-size: 1rem; 
  } */

.visible {
  opacity: 1;
}
.remove--marks {
  background-color: #db5555;
  margin-left: 2rem;
  padding: 0.5rem;
  border-radius: 5px;
}

.remove__last {
  background-color: #dfba55;
  margin-left: 2rem;
  padding: 0.5rem;
  border-radius: 5px;
}

.overlay-text {
  position: absolute;
  left: 5%;
  background-color: #000000;
  color: #fff;
  font-size: 15px;
  text-align: center;
}

.model-text {
  top: 5%;
}

.customer-text {
  top: 15%;
}
.date-text {
  font-size: 10px;
  left: 80%;
}
