body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: rgb(45, 64, 89);
  /* background-image: linear-gradient(to right, rgb(45, 64, 89), rgb(45, 64, 89)); */

  overflow-y: auto;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
}

.modal {
  position: absolute;
  right: 0;
  background-color: rgb(34, 40, 49);
  padding: 2rem 2rem 0.5rem 2rem;
  box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.3);
  z-index: 1000;
  transition: all 0.5s;
  border-radius: 0.5rem;
  justify-content: center;
  align-items: center;
}
.modal__content {
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  padding: 1rem;
}

.modal__link {
  color: #ffffff;
  text-decoration: none;
  margin-bottom: 1.5rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-style: normal;
}
.main-container {
  width: 100%;
  max-width: 450px;
  margin: 0 auto;
  display: flex;
  flex-flow: column;
  align-items: center;
  /* justify-content: space-between; */
  justify-content: flex-start;
  height: 100vh;
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
}

.choose {
  display: flex;
  align-items: baseline;
  margin-bottom: 0.5rem;
}

.choose h1 {
  margin-bottom: 5px;
  margin-top: 10px;
  font-family: 'DM Sans', sans-serif;
  font-family: 'Tourney', sans-serif;
  color: #ffffff;
}

.loading-message {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.loading-message p {
  font-size: 2rem;
  color: #ffffff;
}

.body-container {
  margin: 0 0.5rem;
  border-radius: 5px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
  align-content: center;
  gap: 0.3rem 0.3rem;
  max-width: 100%;
  box-sizing: border-box;

  transition:
    all 0.2s,
    transform 1ms;
}

.arrow {
  width: 2rem;
  height: 1.5rem;
  background-image: url('../pics/down-arrow.png'); /* Replace 'path/to/your/arrow-icon.png' with the path to your arrow icon */
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 0.8rem;
  transition: transform 0.3s;
}

.rotate {
  transform: rotate(180deg); /* Rotate the arrow */
}

.header {
  display: flex;
  background-color: rgb(34, 40, 49);
  padding: 0.5rem;
  justify-content: flex-end;
}

.nav--user {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.logged-in {
  display: flex;

  gap: 1rem;
  padding: 0.8rem 1.2rem;
}

.nav__el {
  text-decoration: none;
  padding: 0.8rem 1.2rem;
  border: 1px solid transparent;
  border-radius: 0.3rem;
  color: #fff;
  background-color: rgb(45, 64, 89);
  font-size: 1.5rem;
}
.nav__el--myacc {
  border-radius: 10%; /* Make the button round */
  width: 3.5rem; /* Adjust the width and height according to your icon size */
  height: 3.5rem;
  background-color: #ffffff; /* Set button background color */
  border: none; /* Remove button border */
  cursor: pointer; /* Set cursor to pointer on hover */
  display: flex; /* Use flexbox for centering */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  margin: 0.5rem;
}

.sides-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  gap: 0.3rem 0.3rem;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  margin: 0 0.5rem;
}

.button--side,
.button--body {
  background-color: #ffffff;
}

.button {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  width: 100%;
  padding: 5px;
  /* margin: 0.5rem 0.5rem; */
  /* margin: 0.5rem; */
  /* color: #ffffff; */
  border-radius: 5px;
  transition: background-color 0.5s;
  border: none;
  /* border: 0.5px solid #e49e08; */
  /* background-image: linear-gradient(to right, #e69c6a, #ca580c); */
  background-image: none;
}

.button img {
  max-width: 100%; /* Make sure the image doesn't exceed the button's width */
  height: auto;
  /* border-radius: 4px; */
}

/* .button:hover {
    background-color: #45a049;
  } */
.hidden {
  visibility: hidden;
  opacity: 0;
}

#vehicleImage {
  display: block;
  width: 100%;
}
.image-container {
  position: relative;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  width: 98%;

  /* margin-top: 1rem; */
}

.image-container__summary {
  position: relative;
}

.marker-container--visible {
  opacity: 1;
}

.shapes-container {
  display: flex;
  justify-content: center;
}

.symbol {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #3498db;
  /* margin-right: 10px; */
  margin-top: 1.5rem;
}

.measure {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* align-content: center; */
}
.right {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.paint {
  display: flex;
  justify-content: center;
}

.paint_buttons {
  margin-left: 1.5rem;
  display: flex;
  flex-direction: column;
}
/* MARKER CONTAINER */

.remove-container {
  width: 98%;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
}

.remove__buttons {
  display: flex;
  justify-content: space-evenly;
  margin-right: 2rem;
  margin-bottom: 1rem;
  padding: 0.2rem;
}

.remove_mark_btn {
  border: none;
  border-radius: 0.2rem;
  padding: 0.3rem;
  margin: 0.5rem;
}

.remove--marks {
  background-color: #db5555;
  padding: 0.5rem;
  color: #ffffff;

  /* margin-left: 2rem; */
}

.remove__last {
  background-color: rgb(34, 40, 49);
  padding: 0.3rem;
  color: #ffffff;

  /* margin-left: 2rem; */
}

.marker-container {
  margin: 0.5rem;
  opacity: 0;
  background-color: #ddd;
  /* background-image: linear-gradient(to right, rgb(238, 238, 238), #68615d); */
  border-radius: 2px;
  transition: opacity 0.5s ease-in-out;
  width: 98%;
  position: relative;
  display: inline-block;
  font-size: 1.2rem;
}

.row {
  display: flex;
  align-items: center;
  margin: 0.5rem;
  padding: 0.5rem;
  justify-content: space-between;
}

.m_button.pressed {
  transform: translateY(1px);
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  border: 0.2rem solid coral;
}

.buttons-shape button {
  background-color: #ddd;
}
.m_button--shapes {
  padding: 0.2rem;
  background-color: #ddd;
  border: none;
}

.buttons button {
  padding: 0.5rem 2rem;
  cursor: pointer;
}

.buttons:after {
  content: '';
  clear: both;
  display: table;
}

#circle {
  width: 3.5rem;
}

#strip {
  width: 3.5rem;
  height: 3.5rem;
  /* padding: 5px; */
}

#flat {
  width: 2.5rem;
  height: 2.5rem;
}

.orientation-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 0.1rem;
}
.row--orientation.hidden {
  display: none;
}

.row--orientation {
  display: flex;
}

/* MEASUREMENT BUTTONS */

.send-container {
  /* background-color: rgb(34, 40, 49); */
  border-radius: 5px;
  padding: 1rem 1.8rem;
  margin-top: 0;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  /* margin-bottom: 10rem; */

  transition:
    all 0.5s,
    transform 1ms;

  gap: 1rem;
}

.send-container label {
  color: #ddd;
  font-size: 1.3rem;
}

.send-marks {
  padding: 0.4rem 0.5rem;
  background-color: rgb(255, 87, 34);
  border: none;
  border-radius: 0.3rem;
  color: #ffffff;
}
.shapes-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: space-between; */
}

.marker {
  position: absolute;
  width: 0.5rem;
  height: 0.5rem;
  /* background: radial-gradient(circle at 50% 50%, red, transparent); */
  border-radius: 50%;
  border: 1px solid black;

  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  color: rgb(0, 0, 0);
  background-color: #ff5722;
}

.line-marker {
  position: absolute;
  width: 8px;
  height: 1rem;
  background-color: red;
  border-radius: 4px;
}

.save-button {
  display: inline;
  margin-top: 1rem;
}

.save--marks {
  padding: 0.5rem;
  background-color: #4ad869;
  border-radius: 5px;
}

.save-marks-container {
  margin-top: 0.5rem;
  margin-bottom: 0;
}

.visible {
  opacity: 1;
}

.overlay-text {
  position: absolute;
  left: 5%;
  background-color: #000000;
  color: #fff;
  font-size: 15px;
  text-align: center;
}

.model-text {
  top: 5%;
}

.customer-text {
  top: 15%;
}
.date-text {
  font-size: 10px;
  left: 80%;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-color: rgba(0, 0, 0, 0.5); */
  backdrop-filter: blur(1.5px);
  z-index: 100;
  transition: all 0.5s;
}

/*TASK TABLE STYLE*/
/* @media (max-width: 400px) {
  .task-table {
    font-size: 0.5rem;
  }
} */

.search-bar {
  margin-top: 1rem;
}

.task-header {
  width: 100%;
  background-color: rgb(238, 238, 238);
  /* padding: 1rem; */
  margin: 1rem;
}

.task-header p {
  font-size: 1.2rem;
  margin-left: 1rem;
}

.task-table {
  margin-top: 1rem;
  border-collapse: collapse;
  width: 100%;
  background-color: rgb(238, 238, 238);
}

.task-table th,
.task-table td {
  border: 0.05px solid #4b4b4b;
  font-size: larger;
  text-align: left;
  padding: 8px;
}

.task-table th {
  background-color: #aaa5a5;
}

/* .task-table tr:nth-child(even) {
  background-color: #dddddd;
} */
/* .task-table tbody tr:nth-child(odd) .table-link {
  color: rgb(255, 255, 255);
} */
.table-link {
  text-decoration: none;
  /* color: black; */
}

.dent-cost,
.total-cost {
  width: 4rem;
}

.back-tasks {
  margin: 1rem;
  padding: 0.5rem;
}

.signup-form {
  background-color: rgb(238, 238, 238);
  padding: 1.25rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.1);
  width: 18.75rem;
  margin-top: 2rem;
}
.signup-form h2 {
  text-align: center;
  margin-bottom: 1.25rem;
}
.form-group {
  margin-bottom: 0.9375rem;
}
.form-group label {
  display: block;
  text-align: left;
  margin-bottom: 0.3125rem;
}
.form-group input {
  width: 100%;
  padding: 0.625rem;
  border: 0.0625rem solid #ccc;
  border-radius: 0.3125rem;
  box-sizing: border-box;
}
button[type='submit'] {
  width: 100%;
  background-color: rgb(34, 40, 49);
  color: #fff;
  padding: 0.625rem;
  border: none;
  border-radius: 0.3125rem;
  cursor: pointer;
}
button[type='submit']:hover {
  background-color: #0056b3;
}
.privacy-policy-link {
  text-align: center;
  margin-top: 2rem;
  text-decoration: underline rgb(255, 87, 34);
}

.privacy-policy-link a {
  color: rgb(255, 87, 34);
  text-decoration: none;
}
.alert {
  position: fixed;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 9999;
  color: #fff;
  font-size: 2rem;
  /* font-weight: 400; */
  text-align: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 1rem 1rem;
  -webkit-box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.25);
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.25);
}
.alert--success {
  background-color: #20bf6b;
}
.alert--error {
  background-color: rgb(255, 87, 34);
}
.message-box {
  max-width: 600px;
  margin: 100px auto;
  text-align: center;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
/* .form-group input.field-exists {
  border: 0.0625rem solid #ff0000;
}

.form-group input.field-available {
  border: 0.0625rem solid #00ff00;
} */

.form-group .availability-message {
  font-style: italic;
  color: #ff0000; /* Red color for the message */
}

.marker-number {
  position: absolute;
  color: #1900ff;
  font-size: 1rem;
  font-weight: bold;
  /* right: 110%; */
  /* left: 0;
  height: 1.3rem;
  bottom: 0; */

  /* background-color: #fff; */
  padding: 2px 1rem;
  /* border: 0.5px solid #000; */
  border-radius: 1px;
  /* transform: translateX(-50%); */
  height: 1.3rem;
}
.table-container {
  background-color: #ccc;
}

/* SIGNUP LOGIN PROFILE*/

.form-group {
  margin-bottom: 0.9375rem;
}
.form-group,
.login-form label {
  display: block;
  text-align: left;
  margin-bottom: 0.3125rem;
  padding: 0.5rem;
}
.form-group input {
  width: 100%;
  padding: 0.625rem;
  border: 0.0625rem solid #ccc;
  border-radius: 0.3125rem;
  box-sizing: border-box;
}
button[type='submit'] {
  width: 100%;
  background-color: rgb(34, 40, 49);
  color: #fff;
  padding: 0.625rem;
  border: none;
  border-radius: 0.3125rem;
  cursor: pointer;
}
button[type='submit']:hover {
  background-color: #0056b3;
}

.form-user-data {
  font-size: 1.5rem;

  background-color: rgb(238, 238, 238);
  padding: 1.25rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.1);
  width: 25rem;
  margin-top: 2rem;
}
.form-user-data h2 {
  text-align: center;
  margin-bottom: 1.25rem;
}

.form-user-password {
  font-size: 1.5rem;

  background-color: rgb(238, 238, 238);
  padding: 1.25rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.1);
  width: 25rem;
  margin-top: 1rem;
}
.form-user-password h2 {
  text-align: center;
  margin-bottom: 1.25rem;
}

.btn {
  background-color: rgb(34, 40, 49);
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1.2rem;
  cursor: pointer;
  display: block;
  margin-top: 1.5rem;
  text-decoration: none;
}

.btn:hover {
  background-color: #0056b3;
}

.task-status-wrapper,
.task-cost-wrapper {
  display: flex;
  align-items: center;
}

.task-status-wrapper p {
  margin-right: 1rem;
  font-size: 1.2rem;
}

.task-cost-wrapper p {
  margin-right: 1.9rem;
  font-size: 1.2rem;
}

/*FILTERING ELEMENTS*/
.filter-menu {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  padding: 0.5rem;
  margin-top: 1rem;
  border-radius: 0.3rem;
}

.filter-menu h3 {
  margin-top: 0;
}

.filter-menu label {
  display: block;
  margin-bottom: 5px;
}

.filter-menu input[type='checkbox'] {
  margin-right: 5px;
}

.filter-menu label:hover {
  cursor: pointer;
}

.filter-date label {
  margin-right: 10px;
}
.filter-date {
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.filter-date label {
  margin-right: 10px;
  font-size: 1.2rem;
  /* Add some space between label and input */
}

.download-report {
  background-color: rgb(34, 40, 49);
  color: #fff;
  border-radius: 0.3rem;
  margin-top: 1rem;
  margin-left: 1rem;
  padding: 0.3rem;
}

.filter-status {
  padding: 0.5rem;
  font-size: 1.2rem;
}
.pagination-buttons {
  margin-top: 1rem;
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
  margin-bottom: 2rem;
}
.delete-task,
.add-dents {
  background-color: rgb(255, 87, 34);
  color: #fff;
  border-radius: 0.3rem;
  border: none;
  margin-top: 1rem;
  padding: 0.5rem;
  font-size: 1.5rem;
  text-decoration: none;
}
.checkbox-paint {
  display: flex;
  padding: 1rem;
  right: 0;
  justify-content: flex-end;
}
